* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.top-header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.top-header .container {
  width: 100%;
}
.top-header .container .row {
  width: 100%;
  margin: 0 !important;
}
.top-header .container .row .menu ul li.map a i {
  margin-right: 5px;
  color: #dc3545;
}
.top-header .container .row .menu ul li a {
  color: #2e3131 !important;
  font-weight: 400;
  font-size: 14px;
}
.top-header .container .row .menu ul li button {
  border: 1px solid #dc3545;
  border-radius: 7px;
  min-width: 28px;
  height: 28px;
  background-color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.top-header .container .row .menu ul li button i {
  color: #dc3545;
}

#nav .navigation {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: #E8ECF1;
}
#nav .navigation .container {
  width: 100%;
}
#nav .navigation .container .row {
  width: 100%;
}
#nav .navigation .container .row .nav-menu ul li a {
  font-size: 14px;
  color: #2e3131;
  text-transform: uppercase !important;
}
#nav .navigation .container .row .btn a {
  padding: 5px 25px;
  background-color: #EF3E42;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0.8;
  color: #fff !important;
  padding-left: 15px;
}

#cards {
  position: relative;
}
#cards .container .head {
  padding: 20px 0;
}
#cards .container .head p {
  max-width: 785px;
  letter-spacing: 0.01em;
  font-size: 16px;
  margin-bottom: 34px;
}
#cards .container .tab-links {
  padding: 20px 0;
}
#cards .container .tab-links ul li a {
  background-color: #E8ECF1;
  border-radius: 37px;
  color: #2e3131;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 24px 8px !important;
}
#cards .container .tab-links ul li a.active {
  background-color: #EF3E42;
  color: #fff;
  opacity: 0.8;
}
#cards .container .populyar {
  border: 1px solid #eaeaea;
  padding: 20px 26px 50px;
  border-radius: 15px;
  background-color: #F9FAFB;
  position: relative;
  margin-bottom: 50px;
}
#cards .container .populyar .row .kapital {
  margin-right: 50px;
  margin-left: 30px;
  width: 80%;
}
#cards .container .populyar .row .kapital img {
  width: 100%;
  transform: rotate(-90deg) !important;
}
#cards .container .populyar .row .birkart .title {
  color: #EF3E42;
  font-size: 18px;
  margin: 0 0 25px;
  font-weight: bold;
  text-transform: uppercase;
}
#cards .container .populyar .row .birkart .title img {
  transform: rotate(0deg);
  padding: 0 !important;
}
#cards .container .populyar .row .birkart .cash a {
  color: #2e3131;
  font-size: 34px;
  font-weight: 800;
  margin: 0 0 30px;
  display: block;
}
#cards .container .populyar .row .birkart .item ul {
  display: flex;
  justify-content: space-between;
}
#cards .container .populyar .row .birkart .item ul li a {
  color: #2e3131;
}
#cards .container .populyar .row .birkart .item ul li a span {
  font-size: 20px;
  display: block;
}
#cards .container .populyar .row .birkart .btns {
  margin-top: 40px;
}
#cards .container .populyar .row .birkart .btns ul li a.btn_1 {
  width: 280px;
  background-color: #f45369;
  border-radius: 8px;
  display: inline-block;
  padding: 11px 20px 14px;
  font-size: 24px;
  color: #fff !important;
  line-height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}
#cards .container .populyar .row .birkart .btns ul li a.btn_2 {
  width: 280px;
  border-radius: 8px;
  display: inline-block;
  padding: 11px 20px 14px;
  font-size: 18px;
  font-weight: bold;
  color: #2e3131 !important;
  line-height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
}

#taksit .container .title {
  margin-left: 15px;
}
#taksit .container .title h2 {
  margin: 28px 0;
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.01em;
}
#taksit .container .row .cart-item {
  position: relative;
  height: 250px;
  margin: 50px 10px;
  background-color: #F9FAFB;
  padding: 20px 0;
  border-radius: 10px;
}
#taksit .container .row .cart-item .img {
  position: relative;
  width: 200px;
  height: 220px;
  top: -80px;
  left: 20px;
  z-index: 1;
}
#taksit .container .row .cart-item .img img {
  max-height: 100%;
  width: 100%;
  border-radius: 4px;
}
#taksit .container .row .cart-item .cart-txt {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
}
#taksit .container .row .cart-item .cart-txt a strong {
  color: #2e3131;
  font-size: 24px;
}
#taksit .container .row .cart-item .cart-txt ul li a {
  font-size: 14px;
  color: #2e3131;
}
#taksit .container .row .cart-item .carts-btn {
  color: #f45369;
  border-top: 1px solid #e5e7e9;
  background-color: #F9FAFB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#taksit .container .row .cart-item .carts-btn a {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 24px !important;
  color: rgba(46, 49, 49, 0.8);
  display: inline-block;
  transition: 0.3s linear;
  position: relative;
  transition: 0.1s ease-in;
}
#taksit .container .row .cart-item .carts-btn a:first-child:hover {
  background-color: #dc3545;
  color: #fff;
  border-bottom-left-radius: 10px;
}
#taksit .container .row .cart-item .carts-btn a:first-child {
  color: #dc3545;
  border-right: 1px solid #e5e7e9;
}
#taksit .container .row .cart-item .carts-btn a:last-child {
  width: 72%;
}
#taksit .container .row .cart-item .carts-btn a:last-child:hover {
  background-color: #dc3545;
  color: #fff;
  border-bottom-right-radius: 10px;
}

#debet .container .title {
  margin-left: 15px;
}
#debet .container .title h2 {
  margin: 28px 0;
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.01em;
}
#debet .container .row .cart-item {
  position: relative;
  height: 250px;
  margin: 50px 10px;
  background-color: #F9FAFB;
  padding: 20px 0;
  border-radius: 10px;
}
#debet .container .row .cart-item .img {
  position: relative;
  width: 200px;
  height: 220px;
  top: -80px;
  left: 20px;
  z-index: 1;
}
#debet .container .row .cart-item .img img {
  max-height: 100%;
  width: 100%;
  border-radius: 4px;
}
#debet .container .row .cart-item .cart-txt {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
}
#debet .container .row .cart-item .cart-txt a strong {
  color: #2e3131;
  font-size: 24px;
}
#debet .container .row .cart-item .cart-txt ul li a {
  font-size: 14px;
  color: #2e3131;
}
#debet .container .row .cart-item .carts-btn {
  color: #f45369;
  border-top: 1px solid #e5e7e9;
  background-color: #F9FAFB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#debet .container .row .cart-item .carts-btn a {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 24px !important;
  color: rgba(46, 49, 49, 0.8);
  display: inline-block;
  transition: 0.3s linear;
  position: relative;
  transition: 0.1s ease-in;
  width: 100%;
}
#debet .container .row .cart-item .carts-btn a:hover {
  background-color: #dc3545;
  color: #fff;
  border-bottom-left-radius: 10px;
}

#digital .container .title {
  margin-left: 15px;
}
#digital .container .title h2 {
  margin: 28px 0;
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.01em;
}
#digital .container .row .cart-item {
  position: relative;
  height: 250px;
  margin: 50px 10px;
  background-color: #F9FAFB;
  padding: 20px 0;
  border-radius: 10px;
}
#digital .container .row .cart-item .img {
  position: relative;
  width: 200px;
  height: 220px;
  top: -80px;
  left: 20px;
  z-index: 1;
}
#digital .container .row .cart-item .img img {
  max-height: 100%;
  width: 100%;
  border-radius: 4px;
}
#digital .container .row .cart-item .cart-txt {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
}
#digital .container .row .cart-item .cart-txt a strong {
  color: #2e3131;
  font-size: 24px;
}
#digital .container .row .cart-item .cart-txt ul li a {
  font-size: 14px;
  color: #2e3131;
}
#digital .container .row .cart-item .carts-btn {
  color: #f45369;
  border-top: 1px solid #e5e7e9;
  background-color: #F9FAFB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#digital .container .row .cart-item .carts-btn a {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 24px !important;
  color: rgba(46, 49, 49, 0.8);
  display: inline-block;
  transition: 0.3s linear;
  position: relative;
  transition: 0.1s ease-in;
  width: 100%;
}
#digital .container .row .cart-item .carts-btn a:hover {
  background-color: #dc3545;
  color: #fff;
  border-bottom-left-radius: 10px;
}

#hediyye .container .title {
  margin-left: 15px;
}
#hediyye .container .title h2 {
  margin: 28px 0;
  font-family: SourceSansProSemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.01em;
}
#hediyye .container .row .cart-item {
  position: relative;
  height: 250px;
  margin: 50px 10px;
  background-color: #F9FAFB;
  padding: 20px 0;
  border-radius: 10px;
}
#hediyye .container .row .cart-item .img {
  position: relative;
  width: 200px;
  height: 220px;
  top: -80px;
  left: 20px;
  z-index: 1;
}
#hediyye .container .row .cart-item .img img {
  max-height: 100%;
  width: 100%;
  border-radius: 4px;
}
#hediyye .container .row .cart-item .cart-txt {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
}
#hediyye .container .row .cart-item .cart-txt a strong {
  color: #2e3131;
  font-size: 24px;
}
#hediyye .container .row .cart-item .cart-txt ul li a {
  font-size: 14px;
  color: #2e3131;
}
#hediyye .container .row .cart-item .carts-btn {
  color: #f45369;
  border-top: 1px solid #e5e7e9;
  background-color: #F9FAFB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#hediyye .container .row .cart-item .carts-btn a {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 24px !important;
  color: rgba(46, 49, 49, 0.8);
  display: inline-block;
  transition: 0.3s linear;
  position: relative;
  transition: 0.1s ease-in;
  width: 100%;
}
#hediyye .container .row .cart-item .carts-btn a:hover {
  background-color: #dc3545;
  color: #fff;
  border-bottom-left-radius: 10px;
}
#hediyye .container .block {
  padding: 50px 30px;
  text-align: center;
  font-size: 14px;
}

#footers-btn {
  background-color: #eaeaea;
}
#footers-btn ul li {
  padding: 50px 0;
}
#footers-btn ul li a {
  color: #2e3131;
  font-weight: bold;
}
#footers-btn ul li a.active {
  color: #dc3545;
}

footer {
  background-color: #2e3131;
  padding: 50px 0;
}
footer .container .row ul {
  margin: 0 !important;
  padding: 0 !important;
}
footer .container .row ul li {
  list-style: none;
}
footer .container .row .footer-item h3 {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}
footer .container .row .footer-item ul li {
  padding: 5px 0;
}
footer .container .row .footer-item ul li a {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
footer .container .row .tetbiq {
  text-align: center;
}
footer .container .row .tetbiq h3 {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
footer .container .row .tetbiq ul li {
  display: flex;
  background-color: #fff;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 15px;
}
footer .container .row .tetbiq ul li a {
  color: #000;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */